// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Contentful from "../../../index.js";

export declare namespace EntriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Entry related endpoints
 */
export class EntriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EntriesClient.Options>;

    constructor(options: EntriesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve an entry by ID
     *
     * @param {Contentful.GetEntriesRequest} request
     * @param {EntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.entries.get({
     *         spaceId: "yadj1kx9rmg0",
     *         environmentId: "master",
     *         entryId: "1nG4SkuMy0WenQUG6z2aEw"
     *     })
     */
    public get(
        request: Contentful.GetEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Contentful.EntrySchema> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Contentful.GetEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Contentful.EntrySchema>> {
        const { spaceId, environmentId, entryId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulEnvironment.Default,
                `spaces/${core.url.encodePathParam(this._options.spaceId)}/environments/${core.url.encodePathParam(this._options.environmentId)}/entries/${core.url.encodePathParam(entryId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.EntrySchema.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ContentfulError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/environments/{environmentId}/entries/{entryId}",
        );
    }

    /**
     * Retrieve a collection of entries
     *
     * @param {Contentful.ListEntriesRequest} request
     * @param {EntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.entries.list({
     *         spaceId: "yadj1kx9rmg0",
     *         environmentId: "master",
     *         contentType: "blogPost"
     *     })
     */
    public list(
        request: Contentful.ListEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Contentful.ListEntriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Contentful.ListEntriesRequest,
        requestOptions?: EntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Contentful.ListEntriesResponse>> {
        const { spaceId, environmentId, contentType, cursor, include, skip, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (contentType != null) {
            _queryParams.content_type = contentType;
        }

        if (cursor != null) {
            _queryParams.cursor = cursor.toString();
        }

        if (include != null) {
            _queryParams.include = include.toString();
        }

        if (skip != null) {
            _queryParams.skip = skip.toString();
        }

        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulEnvironment.Default,
                `spaces/${core.url.encodePathParam(this._options.spaceId)}/environments/${core.url.encodePathParam(this._options.environmentId)}/entries`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ListEntriesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ContentfulError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/environments/{environmentId}/entries",
        );
    }
}
