// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as Contentful from "../../../index.js";

export declare namespace ContentTypesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Content Type related endpoints
 */
export class ContentTypesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ContentTypesClient.Options>;

    constructor(options: ContentTypesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get a ContentType by Id
     *
     * @param {Contentful.GetContentTypesRequest} request
     * @param {ContentTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contentTypes.get({
     *         spaceId: "yadj1kx9rmg0",
     *         environmentId: "master",
     *         contentTypeId: "blogPost"
     *     })
     */
    public get(
        request: Contentful.GetContentTypesRequest,
        requestOptions?: ContentTypesClient.RequestOptions,
    ): core.HttpResponsePromise<Contentful.ContentTypeSchema> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Contentful.GetContentTypesRequest,
        requestOptions?: ContentTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Contentful.ContentTypeSchema>> {
        const { spaceId, environmentId, contentTypeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulEnvironment.Default,
                `spaces/${core.url.encodePathParam(this._options.spaceId)}/environments/${core.url.encodePathParam(this._options.environmentId)}/content_types/${core.url.encodePathParam(contentTypeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ContentTypeSchema.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ContentfulError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/environments/{environmentId}/content_types/{contentTypeId}",
        );
    }

    /**
     * Get ContentTypes
     *
     * @param {Contentful.ListContentTypesRequest} request
     * @param {ContentTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contentTypes.list({
     *         spaceId: "yadj1kx9rmg0",
     *         environmentId: "master"
     *     })
     */
    public list(
        request: Contentful.ListContentTypesRequest,
        requestOptions?: ContentTypesClient.RequestOptions,
    ): core.HttpResponsePromise<Contentful.ListContentTypesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Contentful.ListContentTypesRequest,
        requestOptions?: ContentTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Contentful.ListContentTypesResponse>> {
        const { spaceId, environmentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulEnvironment.Default,
                `spaces/${core.url.encodePathParam(this._options.spaceId)}/environments/${core.url.encodePathParam(this._options.environmentId)}/content_types`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ListContentTypesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ContentfulError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/environments/{environmentId}/content_types",
        );
    }
}
